* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
ul {
  padding: 0;
}

.App {
  text-align: center;
}

.main-container {
  width: 60%;
  min-width: 400px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2rem;
  border: 2px solid #eee;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  border-bottom: 2px solid #a898fa;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  color: #333;
}

nav a {
  font-size: large;
  color: #6955cf;
}

.nav-item {
  padding: 5px 25px;
  height: 100%;
  display: grid;
  place-items: center;
}

.active-nav-item {
  background-color: #a898fa;
}

.inactive-nav-item > a {
  color: white;
}

.active-nav-item > a {
  color: white;
}

.active-sub-nav-item {
  background-color: #fff;
}

.inactive-sub-nav-item {
  background-color: #f3f3f3;
}

.active-sub-nav-item > p {
  color: #6955cf;
}

.tab-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
}
.tab-header > a {
  flex: 1 1 150px;
}

.pollcard-wrapper {
  margin: 1rem;
  padding: 20px;
  border: 1px solid #eee;
  display: grid;

  grid-template-rows: auto 100px;
}

.big-pollcard-wrapper {
  grid-template-rows: auto 180px;
}
.pollcard-content > div {
  justify-items: center;
  margin: 10px 0;

  border-radius: 10px;
}

.pollcard-content h5 {
  text-align: center;
}

.pollcard-header {
  grid-row: 1;
  margin-bottom: 15px;
}

.pollcard-body {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.pollcard-avatar {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}
.pollcard-content {
  display: grid;
}

.poll-bar-wrapper {
  position: relative;
  height: 25px;
  margin: 2px 0px;
}

.poll-bar-wrapper p {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
}

.pollbar-percent {
  position: absolute;
  height: 100%;
}

.pollbar-text {
  position: absolute;
  z-index: 2;
  padding: 0px 10px;
  top: 50%;
  transform: translatey(-50%);
  margin-right: 20px;
}

.poll-button-wrapper {
  border: 1px solid rgba(140, 250, 200, 0.6);
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  position: relative;
}

.new-question-wrapper {
  margin: 50px 10px;
  min-width: 250px;
  max-width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.new-question-wrapper select {
  width: 100%;
  height: 31px;
  margin: 10px 0;
  border: 2px solid #eee;
  color: #333;
  font-size: 1rem;
  padding: 5px;
}

.new-question-wrapper h2 {
  text-align: center;
  margin: 20px;
}

.new-question-wrapper h5 {
  text-align: center;
  margin: 20px;
  margin-top: -20px;
  color: #aaa;
}

.new-question-wrapper button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  background-color: #a898fa;
  width: 100%;
  color: white;
  font-size: large;
  font-weight: 600;
  margin: 10px 0;
}

.new-question-input {
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  margin: 0px 0px 10px 0;
  padding: 10px;
}

.or-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 5px 0px;
}
.or-first {
  height: 1px;
  background: #ddd;
  align-self: center;
  margin: 0px 20px 0 0;
}

.or-last {
  height: 1px;
  background: #ddd;
  align-self: center;
  margin: 0px 0 0 20px;
}
.new-question-input {
}

.message-container {
  height: 10px;
  margin-top: 10px;
}

.leaderboard-wrapper {
  display: grid;
  border: 1px solid #eee;
  grid-template-columns: 50px 100px 1fr 100px;
  padding: 20px;
  margin: 20px;
}

.leaderboard-stats-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-top: 12px;
  margin-bottom: -3px;
}

.leaderboard-position-conatiner {
  background: #a898fa;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  color: white;
  align-self: center;
}
.leaderboard-score-wrapper {
  background: rgba(140, 250, 200, 0.6);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  justify-self: center;
}

.leaderboard-score-wrapper div {
  text-align: center;
}

.profile-wrapper {
  width: 250px;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.profile div {
  display: flex;
  align-items: center;
}

.profile button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  background-color: #a898fa;
  width: 80px;
  color: white;
  font-size: medium;
  font-weight: 600;
  align-self: center;
}

.profile-avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.pollcard-wrapper button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  background-color: #a898fa;
  width: 100%;
  color: white;
  font-size: medium;
  font-weight: 600;
  align-self: center;
  margin-top: 50px;
}

@media (max-width: 400px) {
  .profile-wrapper {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .profile-wrapper {
    width: 130px;
  }

  .profile {
    width: 130px;
  }

  .profile-avatar {
    display: none !important;
  }
}
